@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookWorm MVC</h1>
    <p>
        The application was created for educational purposes.
    </p>
    <p>
        The main reason for the creation of the application is the training of <b>CRUD</b> operations on data related with a <b>foreign key</b> in <b>one-to-many</b> and <b>many-to-many</b> relationships.
    </p>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>
